Repository FiditeNemini/chatllm.cpp, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, devops, script, ggml

fix CI and polish support of qwen2-vl
  convert.py
  docs/models.md
  models/hunyuan.cpp
  models/qwen.cpp
  models/qwen.h
  scripts/models.json
Labels: documentation, script

work on qwen3.5-moe (in progress); upload models
  README.md
  convert.py
  docs/models.md
  models/qwen3_5.cpp
  scripts/models.json
  src/backend.h
  src/chat.cpp
  src/chat.h
  src/layers.cpp
  src/layers.h
  src/models.cpp
Labels: documentation, script

load MLP weights and qwen3.5 moe works.
  docs/models.md
  src/layers.h
Labels: documentation

torch.jit: runnable, but still slow.
  convert.py
Labels: none

save ram: qwen3.5 & mla support f16 cache and new `-Os` option
  models/deepseek.cpp
  models/deepseek.h
  models/minicpm.cpp
  models/qwen3_5.cpp
  src/chat.h
  src/layers.cpp
  src/layers.h
  src/main.cpp
  src/models_priv.h
Labels: none

upload qwen3.5-35b-a3b
  scripts/models.json
Labels: script

introduce `--max_proj_length`
  src/chat.h
  src/layers.cpp
  src/layers.h
  src/main.cpp
  src/models_priv.h
Labels: none

dots.ocr: fix template, use gpu. upload 1.5.
  docs/models.md
  models/dots.cpp
  scripts/models.json
Labels: documentation, script

fix issues #120
  bindings/chatllm.py
Labels: none

support penguin-vl. upload models.
  README.md
  convert.py
  docs/models.md
  models/hunyuan.cpp
  scripts/models.json
Labels: documentation, script

fix usage of `QKNormedRoPEAttention`
  models/apertus.cpp
  models/bailing.cpp
  models/exaone.cpp
  models/gemma.h
  models/qwen.cpp
  models/qwen.h
  models/qwen3_5.cpp
  src/layers.cpp
  src/layers.h
Labels: none

upload qwen3.5 27b
  docs/models.md
  scripts/models.json
Labels: documentation, script

support qianfan-ocr
  README.md
  convert.py
  docs/models.md
  models/ernie.cpp
  scripts/models.json
  src/layers.cpp
  src/layers.h
  src/models_priv.h
  src/vision_process.cpp
  src/vision_process.h
Labels: documentation, script

make CI and gcc happy
  .github/workflows/build.yml
  models/chatglm.cpp
  models/ernie.cpp
  models/hunyuan.cpp
  models/maya.cpp
  models/orpheus.cpp
  models/qwen.cpp
  models/qwen3_5.cpp
  models/qwen_asr.cpp
  models/qwen_asr.h
  models/qwen_tts.cpp
  models/qwen_tts.h
  src/chat.cpp
  src/layers.cpp
  src/main.cpp
  src/vectorstore.cpp
  src/vision_process.cpp
Labels: devops

support internvl3.5
  CMakeLists.txt
  README.md
  convert.py
  docs/models.md
  models/ernie.cpp
  models/internvl.cpp
  scripts/models.json
  src/models_priv.h
Labels: documentation, script

clean up.
  models/internvl.cpp
Labels: none

polish "youtu-vl"
  models/hunyuan.cpp
Labels: none

initial support of flash attention. (full attention only)
  models/alphageo.cpp
  models/bailing.cpp
  src/chat.h
  src/layers.cpp
  src/layers.h
  src/main.cpp
  src/models.cpp
  src/models.h
  src/models_priv.h
Labels: none

fix misaligned mem access in `swa` for gpu.
  src/layers.cpp
  src/layers.h
  src/models_priv.h
Labels: none

support yarn on qwen3.5
  convert.py
Labels: none

support neochat (vqa)
  CMakeLists.txt
  convert.py
  models/neochat.cpp
  models/qwen.cpp
  models/qwen.h
  src/layers.cpp
  src/layers.h
  src/models.cpp
  src/models_priv.h
Labels: none

fix ci
  models/hunyuan.cpp
  models/neochat.cpp
  src/chat.cpp
  src/layers.cpp
  src/vectorstore.cpp
Labels: none

try fix ci
  models/neochat.cpp
Labels: none

new feature: lens
  bindings/libchatllm.h
  convert.py
  scripts/convert_j_lens.py
  src/basics.h
  src/chat.cpp
  src/chat.h
  src/main.cpp
  src/models.cpp
  src/models.h
  src/models_priv.h
  src/vectorstore.cpp
Labels: script

support OvisOCR2, and clean up.
  README.md
  docs/models.md
  models/hunyuan.cpp
  models/internvl.cpp
  models/qwen.cpp
  models/qwen.h
  models/qwen3_5.cpp
  src/chat.h
  src/layers.h
  src/models_priv.h
Labels: documentation

add doc about lens
  README.md
  docs/lens.md
Labels: documentation

fix neochat (vqa)
  models/neochat.cpp
  src/backend.h
  src/layers.cpp
Labels: none

.github/labeler.yml:

# https://github.com/actions/labeler
documentation:
    - changed-files:
        - any-glob-to-any-file:
            - docs/**
devops:
    - changed-files:
        - any-glob-to-any-file:
            - .github/**
script:
    - changed-files:
        - any-glob-to-any-file:
            - scripts/**
ggml:
    - changed-files:
        - any-glob-to-any-file:
            - ggml/**
